* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    user-select: none;
    font-family: 'Roboto';
	list-style-type: none;
    outline: none;
}

body {
    width: 100%;
    height: 2833px;
	background-color: #040a0a;
}

main {
	width: 1440px;
    height: 2833px;
	background-image: url(../../assets/5.png);
	margin: auto;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	width: 992px;
    height: 55px;
	margin-left: 320px;
	margin-top: 25px;
}

.nav_wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 600px;
    height: 55px;
}

li {
	font-style: normal;
    font-weight: normal;
    font-size: 14px;
	text-transform: uppercase;
	color: #fff;
}

li:hover {
	cursor: pointer;
	color: #43FFD2;
}

.main_but {
	position: absolute;
	top: 15%;
	left: 15%;
	color: #fff;
	font-family: 'Oswald';
	font-size: 12px;
	text-transform: uppercase;
	font-style: normal;
    font-weight: normal;
	text-decoration: underline;
}

.footer_nav_wrap {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 156px;
    height: 150px;
	top: 2580px;
	left: 48%;
}

.footer_nav {
	font-style: normal;
    font-weight: normal;
    font-size: 14px;
	text-transform: uppercase;
	color: #43FFD2;
}

.footer_adres_wrap {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 156px;
    height: 150px;
	top: 2580px;
	left: 75%;
}

.adres_p {
	font-style: normal;
    font-weight: normal;
	text-align: center;
    font-size: 14px;
	color: #43FFD2;
}

.adres_pp {
	font-style: normal;
    font-weight: normal;
	text-align: center;
    font-size: 10px;
	color: #fff;
}

.num_wrap {
	display: flex;
	flex-direction: column;
	width: 156px;
    height: 42px;
	margin: 10px 0 10px 0;
}

.num_p {
	font-style: normal;
    font-weight: normal;
	text-align: center;
    font-size: 14px;
	color: #43FFD2;
}

.num_pp {
	font-style: normal;
    font-weight: normal;
	text-align: center;
    font-size: 10px;
	color: #fff;
}

.soc_wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 156px;
    height: 42px;
}